

/* ==========================================================================
/* Author's custom styles ========================================================================== */

body { padding-top: 40px }

.rosado {   background-color: #DD024F; }

.celeste {   background-color:  #2595AA; } .centrado {   text-align: center; }

.btn-amarillo {   color: white;   background: #F5A500;   border-bottom: 3px
solid #B38629;

  font-size: 1em;

}

.btn-principal{

  color: white; background: #F5A500; border-bottom: 3px solid #B38629;

  font-size: 1.5em; padding: 17px 20px;

}

h1 {   color: #2595AA; } h2,h3, h4 {   color: #DD024F; }

.modal-body {   position: relative;   padding: 15px;   overflow: hidden; }

.check {   width: 50px;   position: absolute;   bottom: 15px;   left: 70px;}

  .pregunta {   height: 300px;   border-radius: 5px;   border: solid; }

  .pregunta.active, .pregunta.active p{
    border-color: #3fbd38;
    color: #3fbd38;
  }
  .pregunta.active .checkbox-item{
    background: #3fbd38 !important;
  }

  .pregunta p {   color: gray;   font-size: 1.5em;   font-weight: bold; }

  a.img-circle.redes {   padding: 21px;   border-color: #ddd;   border: solid;
  display: inline-block; }

  /* checkbox */
  /* SQUARED TWO */

.checkbox-item {
	width: 50px;
	height: 50px;
	background: #fcfff4 !important;
  color: white;

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.checkbox-item input[type=checkbox] {
  width: 42px;
  height: 42px;
}
